# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
- list of popular languages for data science
- list of commonly used libraries for data science
- list of commonly used tools for data science
- how to make ordered list in markdown
- how to make tables in markdown

## Author: 
Isha Singhal

<ol>
    <p>Some of the popular languages that Data Scientists use are:</p>
    <li>Python</li>
    <li>R language</li>
    <li>Julia</li>
    <li>Scala</li>
</ol>

<ol>
    <p>Some of the commonly used libraries used by Data Scientists include:</p>
    <li>Numpy</li>
    <li>Keras</li>
    <li>Pandas</li>
    <li>Scikit-Learn</li>
</ol>

| Data Science Tools | 
| -------------|
| Jupyter Notebook |
| R Studio |
| Visual Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60

def minutesToHours(minutes):
    hours = minutes/60
    return hours

minutesToHours(200)

3.3333333333333335